*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: blue;
}
.container{
    background-color: aliceblue;
    width: 40%;
    min-width: 500px;
    position: absolute;
    transform: translate(-50, -50);
    top:25%;
    left:28%;
    padding: 20px 0;
    padding-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.338);
}
.time{
    position: relative;
    width: 92%;
    background: aliceblue;
    left: 4%;
    font-family: 'Roboto mono', monospace;
    color: blue;
    font-size: 30px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius:10px ;
    box-shadow: 0 0 20px rgba(65, 5, 145, 0.25);
}
.buttons{
    width: 90%;
    margin: 60px auto 0 auto;
    display: flex;
    justify-content: space-around;
}
.buttons button{
    width: 120px;
    height: 45px;
    background-color: blue;
    color: aliceblue;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}
.buttons button:hover{
    box-shadow:0 0 20px rgba(0, 0, 0, 0.6);
}